body {
    background-color: pink;
}

/* Form Styling */
form {
    margin-top: 10%;
    text-align: center;
}

/* Div Output Styling */
.output {
    margin-top: 8%;
    text-align: center;
    color: white;
}
