/* Body Styling */
body{
    background-color: pink;
}

/* Form Styling */
#input-form{
    text-align: center;
}

/* Output Number Styling */
#output-user-number {
    text-align: center;
    margin-top: 10%;
    color: white;
}